<section class="user-profile">
    <h1><%= currentUser.username %></h1>
    <p><strong>Email:</strong> <%= currentUser.email %></p>
    <p><strong>Joined:</strong> <%= new Date(currentUser.createdAt).toLocaleDateString() %></p>
    <br>

    <button type="button" id="editBtn" class="btn-accent" style="margin: 5px; color: white; border-color: white;">
        Edit
    </button>
    
    <form action="/user/<%= currentUser.id %>?_method=PATCH" method="POST" id="editForm" style="display:none;">
        <div class="form-control">
            <input class="form-control" value="<%= currentUser.username%>">
            <br>
            <br>
            <input class="form-control" value="<%= currentUser.email%>">
            <br>
            <br>
            <input class="form-control" value="<%= currentUser.displayName%>">
            
            <br>
            <button type="button" id="closeBtn" class="btn-accent" style="margin: 5px; color: white; border-color: white;">
                Cancel
            </button>
            <button type="submit" class="btn-accent" style="margin: 5px; color: white; border-color: white;">
                Submit Changes
            </button>
        </div>
    </form>
    


    <form action="/user/<%=currentUser.id%>?_method=DELETE" method="POST">  <!--! Query for overriding !-->
        <button type="submit" class="btn" style="margin: 5px; color: white;border-color: white; background-color: red; ">Delete</button>
    </form>

    <script>
    const editBtn = document.getElementById('editBtn');
    const closeBtn = document.getElementById('closeBtn');
    const editForm = document.getElementById('editForm');

    editBtn.addEventListener('click', () => {
        editForm.style.display = 'block';
        editBtn.style.display = 'none';
    });

    closeBtn.addEventListener('click', () => {
        editForm.style.display = 'none';
        editBtn.style.display = 'inline-block';
    });
    </script>
</section>